[2017-12-12 23:49] Cakedy opened #1 "Support for Windows?"
I love the font running on my Linux laptop but I really wish if it can come to Windows as it appears to be an easy process. Is it coming anytime soon?

[2017-12-13 13:30] NerdyPepper commented on #1
I have created a separate [branch](https://github.com/NerdyPepper/scientifica/tree/windows) with a ```.fon``` export.

It would be great to have some feedback/reviews as I don't have access to a Windows machine at the moment.

Cheers.

[2017-12-16 14:01] Cakedy commented on #1
Ok so it kinda works but, in size 60 and 72, the font seems kinda stretched.
![image](https://user-images.githubusercontent.com/14469983/34071132-b64ba458-e23f-11e7-92b8-349c7096c8a6.png)

[2017-12-17 02:25] NerdyPepper commented on #1
Bitmap fonts are not meant to be scaled. That is why you see distortion at sizes other than the original.

The preview window has the right size of this font.

[2017-12-17 07:06] #1 closed

[2017-12-21 13:24] its-suun opened #3 "Ligatures have spaces"
<img src="https://u.teknik.io/OeNZu.png" align="left">Not sure if it's intended but the ligatures have spaces between the characters, which don't look so nice in my opinion. For example the left arrow ![](https://u.teknik.io/2Fkuy.png) has no space while the right arrow has one empty pixel ![](https://u.teknik.io/VqNIP.png).
The shown file is creep's [arrowtest.hs](https://github.com/romeovs/creep

[2017-12-22 02:35] NerdyPepper commented on #3
I personally dont use ligatures because of inconsistencies.

I will surely look into this.

Did you notice these spaces in creep as well?

[2017-12-22 13:54] its-suun commented on #3
Creep has it without spaces:
![](https://u.teknik.io/1vECm.png)

[2018-01-07 16:12] NerdyPepper commented on #3
Alright, it looks like creep has inconsistent character bounding boxes, so it is able to _join_ the characters forming a ligature, by extending them beyond the grid lines.

Here's an example:

Creep:
![creeplig](https://user-images.githubusercontent.com/23743547/34651214-4daa2c2e-f3f3-11e7-9851-b0a86651897d.png)

Scientifica:
![scilig](https://user-images.githubusercontent.com/23743547/34651218-58

[2018-01-16 12:21] its-suun commented on #3
Hmm, but why do some ligatures connect without an missing pixel, like the left arrow?

[2018-01-16 13:12] NerdyPepper commented on #3
Every character in scientifica is like this:

4px character + 1px space

Some characters fill the entire 5 pixels, thereby touching the character to its *right*.

A 5px character followed by a 4px char will appear to be joint, whereas a 4px char followed by another character will have 1px space in between, which is what you are seeing.

Now, it is possible to make this 4px char wider by adding ano

[2018-01-16 15:57] its-suun commented on #3
Would it then maybe be possible to create a special symbol, for example like the powerline arrow, which is a 5px wide minus sign?

[2018-01-17 12:55] NerdyPepper commented on #3
Yeah sure. I can put them in the private use area block.

You could accordingly use them in the creep.vim plugin.

It should be up in the latest commit.

[2018-01-20 16:33] #3 closed

[2018-01-23 19:21] its-suun commented on #3
Sorry for the long response time, i had to setup my system again.
The 5px wide minus sign works perfectly ![](https://u.teknik.io/h8re1.png) and the new arrow looks pretty nice too. But the equals sign is 1px too high:
![](https://u.teknik.io/Dyavk.png)
Also thanks for working on this, even tho you don't like ligatures :smile:

[2018-01-24 06:08] NerdyPepper commented on #3
Thanks for pointing it out!

It should be fixed in the latest commit.

I'm glad you like it!

[2018-02-14 06:55] diffficult opened #4 "Wrong/weird characters displayed on .fon (working Windows) version"
Nice work on the font, using it right now on my laptop but specially on a couple of raspberry pi attached to small lcd screens that display various info.

Just checked you also made a .fon version that technically works on Windows systems and even though it's pretty much working no problems I'm getting a weird "ÿ" character instead of "❯" when using it with ConEmu as you can see on my screencap.

[2018-02-14 11:07] NerdyPepper commented on #4
Scientifica does include this character:
https://0x0.st/sTcx.png

Looks like the `.fon` export did not include the entire character range, and hence defaulted to the last character U+00FF.

Should be fixed in the latest commit. Reopen the issue if not.

[2018-02-14 11:07] #4 closed

[2018-02-14 21:42] diffficult commented on #4
@NerdyPepper thanks a lot for checking it, the issue persist, this probably is a deeper issue on how ConEmu handles terminal/command line and fonts on Windows, which after reading a bit is "hacky" to say the least. Other fonts like **DejaVu Sans Mono for Powerline** or **Hack** also seem to work just fine and do not fail to present all the characters and some other bitmap fonts turned to .fon like

[2018-02-16 17:26] WarpspeedSCP opened #6 "Increase the size?"
When I try using scientifica on my terminal, it ends up looking tiny. Is there a way to increase the size of the font?

[2018-02-16 23:43] flymia commented on #6
I would love that! It looks like such a cool font. But it's too small to use it on my X220 display.

[2018-02-17 10:07] NerdyPepper commented on #6
A bigger version is in the works. But it will not maintain the *exact* character structure of the original.

Its about at big as [kakwafont](https://github.com/kakwa/kakwafont).

In the meanwhile, you could try to use the size [doubler](https://github.com/NerdyPepper/scientifica/blob/master/doubler.py) script (I have not been able to get it to work).

[2018-02-21 10:02] hasld opened #7 "Add a license?"
Can we put the OFL [[1](http://scripts.sil.org/OFL "Open Font License")], an official FSF font license [[2](https://www.gnu.org/licenses/license-list.html#Fonts "FSF Font Licenses")] on the font? Heres what it gives as its overview:

[1] http://scripts.sil.org/OFL

[2] https://www.gnu.org/licenses/license-list.html#Fonts

[2018-02-22 15:06] NerdyPepper commented on #7
Sure!

Will look into this ASAP.

[2018-02-23 08:44] #7 closed

[2018-03-12 14:31] NamedKitten commented on #6
When will a size doubled version of it be here?

[2018-03-13 17:01] NerdyPepper commented on #6
@NamedKitten please do not ask for ETAs. I too have my own commitments.

If you are a fan of unfinished craftsmanship, here is a preview:
Old to the left, and new to the right.
![early](https://u.teknik.io/ge3Hq.png)

[Here's](https://u.teknik.io/fJ76H.bdf
) the `.bdf`, but as I said, this font is not even close to complete (inconsistent spacing, lack of ligatures, etc.).
You can try doubling it u

[2018-03-29 04:52] The-Soulless opened #9 "Create a way to import this via CSS"
I would like to use scientifica on a webpage of mine as the default font, knowing not too many people will have scientifica installed I looked for a way to @import this but I didn't find any, could you create one or tell me another way?

[2018-03-29 05:49] NerdyPepper commented on #9
Yeah, importing it will not work, websites have deprecated support for bitmap fonts.

[niivu](https://niivu.deviantart.com/) has exported the font to web compatible `.woff`. Grab the zip [here](https://niivu.deviantart.com/art/Scientifica-Font-732934778) (the button is at the top right). It should work like any other font. It contains only the basic ASCII charmap.

Expect to see a `.ttf` version o

[2018-03-29 05:49] #9 closed

[2018-03-29 06:08] NerdyPepper opened #10 "Update bold style"
The current blocky style does not suit the font.

I have created a small caps version, to replace this 'bold' version.

Here are some previews:

![Preview 1](https://0x0.st/sBFy.png)
![Preview 2](https://0x0.st/sBdk.png)
![Preview 3](https://0x0.st/sBFJ.png)

Tell me what you think.

[2018-03-29 16:30] The-Soulless commented on #10
I like it and prefer it. I never really thought that the bold fit with the font, to the point of thinking that my terminal was using the wrong font when it was bold.

[2018-03-30 09:56] NerdyPepper commented on #10
@The-Soulless , the new version is being developed at the [small_caps](https://github.com/NerdyPepper/scientifica/tree/small_caps) branch.

[2018-03-31 04:25] icyphox commented on #10
Ok

[2018-04-01 21:45] topisani commented on #6
Curie looks nice! could you maybe set up a repo for it? I would like to help out a bit if possible

[2018-04-05 12:24] NamedKitten opened #11 "Add framebuffer font."
Having a PSF version of this font would be great for the linux famebuffer!
Also PF2 for grub would be great!

[2018-04-06 08:04] NerdyPepper commented on #11
That's a great idea, but I don't plan on maintaining another file format.

Look into [FbTerm](https://code.google.com/archive/p/fbterm/), you can use `.bdf`s there.

[2018-04-06 08:04] #11 closed

[2018-04-11 06:40] #6 closed

[2018-04-17 06:12] jpotier opened #12 "Versioning scheme"
I'd like to package scientifica for my distribution, and I'd like to refer to a specific version instead of just “the latest master” or “commit hash x”. Do you think it would be possible to tag commits you deem relevant with a version number x.y.z?

[2018-04-17 08:38] NerdyPepper commented on #12
Sure, commits involving major changes shall hence forth be prefixed with a version. How about labeling the current version as 1.0?

[2018-04-17 13:35] #12 closed

[2018-04-25 22:42] Cakedy opened #13 "Italic?"
Since curie has it, is it possible for scientifica to have it as well?

[2018-04-27 15:14] NerdyPepper commented on #13
The original plan was to have blocky bold and small-caps italic.
Maybe I could try a cursive style?
There aren't many pixels to work with. Feel free to give suggestions!

[2018-04-27 23:04] Cakedy commented on #13
Not sure how a cursive bitmap font would look like but I have a feeling that the small-caps italic idea might be good.

[2018-04-30 14:23] Arherion opened #14 "Cyrillic support?"
Hi!
What's about adding cyrillic symbols?

[2018-05-02 15:07] RedBeard0531 opened #15 "Double-size font for retina screens"
The current font size is way too wee when used on a retina/HiDPI display.

[2018-05-03 16:10] NerdyPepper commented on #14
They are a little too detailed to fit into this form factor. I will try to add them though.

[2018-05-03 16:12] NerdyPepper commented on #15
If you have a Mac (retina display), use the `.dfont`.
 If you have a 4k display, just use a regular font, these pixel fonts are meant to alleviate font rendering problems on low resolution displays.
Or, as @RewoundVHS mentioned, try the doubler script.

[2018-05-03 16:12] #15 closed

[2018-05-04 06:32] NerdyPepper commented on #13
Cursive italics have been added.
Tell me what you think!

![scrot](https://0x0.st/s1Jq.png)

[2018-05-04 17:41] Cakedy commented on #13
It's really good but as @RewoundVHS said, the cursive captial isn't easily noticeable.

[2018-05-05 05:36] NerdyPepper commented on #13
The capital letter `I` has been fixed. It looks better now imo. I am still working on adapting the other capital letters to cursive lettering.

[2018-05-05 17:58] alystair opened #16 "Windows / webfont builds?"
These look brilliant fantastic, any chance you could generate windows/webfont compatible versions?

[2018-05-05 20:32] nawtrobar opened #17 "text size in terminal"
The font is much smaller in terminal windows than it is any other appIication. I suppose it may have something to do with resolution settings, but I really don't understand why it's happening. Hoping you might be able and willing to offer some insight. thanks.

[2018-05-05 23:00] RewoundVHS commented on #17
Could you provide more details and screenshots? Which terminal emulator are you using?

[2018-05-05 23:26] nawtrobar commented on #17
Also note that though my config says I set the pixel size to 13, I disabled scaling for bmp fonts before taking the screenshot.

[2018-05-05 23:40] RewoundVHS commented on #17
The font used in the title bar and status bar is not scientifica. Look at the difference between lowercase i, lowercase n, capital B etc.

[2018-05-05 23:46] nawtrobar commented on #17
OK. I guess it just fell back on a default then. Sorry. I suppose this is the appropriate size then and there's nothing I can do about it. Was hoping to be able to make a bit more legible. Any way thanks for taking your time.

[2018-05-06 00:56] nawtrobar commented on #17
I'm mostly concerned with my terminal font at this point. I really like scientifica, but the size is a huge compromise. I'm not sure I understand that line from your config though.

[2018-05-06 01:11] RewoundVHS commented on #17
That's what I was trying to say, the font in your terminal is scientifica, it is just a small font. The line from my config sets the default font for i3wm. You can try the doubler script included in the repository or try curie! https://github.com/NerdyPepper/curie

[2018-05-06 01:16] nawtrobar commented on #17
okay. i just understand how you do that without the conventional format in i3, and also don't understand how you named the font. There aren't instructions for the double script. I'm assuming I compile an exectuable from it and run it in the folder?

[2018-05-06 01:25] nawtrobar commented on #17
right. I just ran it. I installed the bdflib dependency, but the script still reports that it's missing. Thanks for your patience with this.

[2018-05-06 01:33] RewoundVHS commented on #17
No big deal. I'd suggest just trying out curie. I'll have it up on the AUR within a few days.

[2018-05-06 09:35] nawtrobar commented on #17
Unforutnately rxvt doesn't render all of the unicode characters that it had with scientifica. I should probably just switch terms.

[2018-05-09 10:05] NerdyPepper commented on #16
Niivu over at deviantart has converted scientifica to a `.ttf` and a `.woff`. You can get the zip [here](https://niivu.deviantart.com/art/Scientifica-Font-732934778).

[2018-05-09 10:05] #16 closed

[2018-05-09 18:41] Radiden opened #18 "Weird issue with polish characters"
All polish characters seem to have a gap between them in firefox and some other apps when using scientifica size 8 on arch linux with the display resolution of 1336x768. (URL bar)
http://raii.cf/huh.png

[2018-05-09 20:36] The-Soulless commented on #10
After using it for a while, It's not as good as I previously believed, with the only difference between caps and lowercase letters being size, It makes it hard to tell if something is capitalized or not if it's either full caps or full lowercase.

[2018-05-16 04:06] kepoorhampond opened #20 "doubler.py doesn't seem to do anything"
So when I run doubler.py (which I assume is to systematically increase the size of the font), it doesn't ever get past this line:
[code]
It just holds and doesn't do anything. Am I missing something about how to run the program, or does it just take a long time?

Also, side note- I'm absolutely loving this font, the cursive for italics is my favorite thing ever, and I want to say thanks for contin

[2018-05-16 08:07] NerdyPepper commented on #18
Works for me™

[2018-05-16 08:07] #18 closed

[2018-05-16 08:14] NerdyPepper commented on #20
To be honest, I haven't been able to work it either. Its just something I came across somewhere (don't remember where :/ ).

If you need a larger version, [curie](https://github.com/NerdyPepper/curie) is your only hope.

If you need something, feel free to ask!
Cheers!

[2018-05-16 08:14] #20 closed

[2018-05-16 23:12] ma9e opened #21 "Rendering issues in st"
I'm not really clear on why this is happening, but st seems to be displaying scientifica glyphs twice as wide as they should be:

![double-space](https://user-images.githubusercontent.com/36235154/40148311-f3de7fe2-5932-11e8-8845-ba65520b7bd1.png)

I noticed that after opening and saving with `gbdfed`, the issue goes away:

![normal-space](https://user-images.githubusercontent.com/36235154/4014831

[2018-05-17 02:19] csmcg opened #22 "doubler script"
Is there any documentation on the doubler script? I assume it is supposed to increase the font's size by two but I don't really know a lot about fonts and how they work. The size 11 is far too small on my high DPI display so I figured I would try the script before moving on to a different font for me. I tried running the script like

[code]
But I get this error:
[code]

Any help would be appreciat

[2018-05-17 18:55] csmcg commented on #22
Hi, as a follow up I did some more looking at this today and it seems to be an error in bdflib. I am no

The ``` iterable.next() ``` isn't valid Python3 I believe, so I went through and changed the bdflib file ``` next(iterable) ``` for everywhere in the file and it now works. Still can't get the font working on my system but it resolves the original issue. You may want to add a comment to your sc

[2018-05-17 19:14] csmcg commented on #20
Hi @kepoorhampond
You need to redirect the contents of the font file into the script and then redirect the contents back out to another file which will hold the "doubled" data, like this: ``` python3 doubler.py < scientifica-11.bdf > scientifica-22.bdf ```

However, the script uses a library that seems to be pretty old, bdflib. I went through bdflib's ``` reader.py ``` and changed every instance o

[2018-05-17 19:37] Personinblack opened #23 "Is the font supposed to look like this?"
I just installed the font and the very thing I noticed is that the font looks completely different than how it looks in the screenshots on the readme page and r/unixporn. I don't know if I am doing something wrong. I installed it over the AUR (also tried installing manually) and followed the installation steps on the readme.md and this is how it looks on my urxvt:
![431](https://user-images.github

[2018-05-17 21:13] RewoundVHS commented on #23
You are correct, this font is not scientifica. Please post your urxvt config.

[2018-05-17 21:15] Personinblack commented on #23
[code]

[2018-05-17 22:11] RewoundVHS commented on #23
I'm embarrassed, I double checked and this is in fact scientifica. The size and/or letter spacing are just off. Assuming you're using the AUR package, try adding the following to your .Xresources
URxvt.font: xft: nerdypepper scientifica:pixelsize=9
URxvt.letterSpace: 2

[2018-05-17 22:51] Personinblack commented on #23
Changing the letter space makes it better but not the same as how it looks on the screenshots... The characters are different for sure. Look at this:
![432](https://user-images.githubusercontent.com/24732321/40206498-fd1df630-5a38-11e8-9cbc-ca90c2fc217b.png)
And this:
![433](https://i.redditmedia.com/jJx-7X-nLltUhIYJ_4VLAexqEtQwFBJ-OWk27FVtO5I.png?s=ffe821ed987d2f4b55308cde9bcad914)

[2018-05-17 23:58] RewoundVHS commented on #23
Okay it appears to be displaying Gohufont for some reason. I was testing on my machine and it is doing the same thing. I use Termite and I've never had this issue before.

[2018-05-18 01:07] Personinblack commented on #23
I don't think so... I tried GohuFont and it looked a bit different.

But this is definetely a problem with urxvt, just tried the font on the polybar and it looked how it should look without any problem. The weird thing is the screenshot above also uses urxvt and it displays the font correctly...

I think I should close this issue...

[2018-05-18 01:07] #23 closed

[2018-05-23 12:23] swingcake opened #24 "Help to disable bitmap fonts"
I did not know that enabling bitmap fonts would have some _side-effects_. I'm sure but something seems wrong with my the text in Chrome(just as if it's using a new font altogether). I don't like it.

Please help me disable bitmap fonts. I enabled them as mentioned in the README:
[code]

Thanks in advance!

[2018-05-25 06:11] swingcake commented on #24
[code]
[Explanation here](https://askubuntu.com/questions/1039763/how-to-disable-bitmap-fonts)

[2018-05-25 06:12] #24 closed

[2018-06-08 07:03] jandoerntlein commented on #17
Curie is (regardless of st or urxvt) still to small for a screen size of 3840x2160. Any chance that someone who got the doubler-script running can increase the size of Curie? Script fails for me on Ubuntu 16.04 (does not find bdflib although installed via pip).

[2018-06-09 16:22] deadcombo opened #25 "TrueType variant"
Do you have plans to make a .ttf variant of scientifica? I really like your font, and I would quite like to use it on my Android phone as well. I've grabbed the Niivu conversion, but that's a bit out of date and doesn't have the bold variant.

I would be happy to do it myself, but I don't know the first thing about manipulating fonts. If you have some pointers on what I should do to convert the fo

[2018-06-09 17:27] RewoundVHS commented on #25
This sounds like a good idea. I will get to work on this Monday.

[2018-06-09 17:28] deadcombo commented on #25
That's good to hear! If there's anything I can do to help, just let me know.

[2018-06-11 02:59] NerdyPepper commented on #25
I believe android typefaces need to have a minimum of 6 styles (including thin, extra thin)?

If so, it might not be possible, but Ill give it a go nevertheless.

The procedure is as follows (as explained by niivu):

Note that this requires each character to be extracted manually.

Scientifica regular ~500 chars
Scientifica bold ~100 chars
Scientifica cursive ~50 chars

[2018-06-11 14:30] RewoundVHS commented on #25
NerdyPepper, I noticed you merged my .ttfs. These files were not functional at all, I meant to remove them from my fork after testing them but didn’t get the chance. I will issue a PR if I manage to get them to work. I’m sorry for any inconvenience/confusion.

[2018-06-11 14:32] RewoundVHS commented on #25
By the way, the main issue I’m running into is with Autotrace in FontForge. I was attempting to use the script found here https://github.com/koemaeda/potrace-pixelperfect but the Autotrace function remains greyed our even after setting my environment variable to the script and selecting all glyphs.

[2018-06-11 14:38] deadcombo commented on #25
Stupid question, do you have either the autotrace or the potrace packages installed? They don't come with FontForge.

On June 11, 2018 3:32:36 PM GMT+01:00, Neve Laughery <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2018-06-11 15:46] RewoundVHS commented on #25
I installed Autotrace through the AUR package but I don’t have Potrace installed.

[2018-06-11 15:49] deadcombo commented on #25
I would assume that you need to install potrace to run that script. There's a package in the AUR.

Then I guess you need to choose "prefer potrace" in the FontForge settings.

That's what I did this morning.

On June 11, 2018 4:46:33 PM GMT+01:00, Neve Laughery <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2018-06-11 17:16] deadcombo commented on #25
Oh, also, did you import the font on the background of a new file?

The autotrace function needs the font to be loaded in the background.

On June 11, 2018 4:46:33 PM GMT+01:00, Neve Laughery <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2018-06-11 22:47] deadcombo commented on #25
By using very basic FontForge scripting, I have extracted all glyphs into .png files. How would you prefer I share them?

[2018-06-12 00:32] RewoundVHS commented on #25
You could create a fork and add the pngs to your repo! A moderately complex script could split and multiply the glyphs, removing the background could be done in GIMP.

[2018-06-12 11:39] deadcombo commented on #25
[Here](https://github.com/deadcombo/scientifica) is my fork.

The files are under 'glyph_png', the script is called fontforge_export. My method is at the end of the README file.

Did you have any luck autotracing?

[2018-06-14 07:55] deadcombo commented on #25
Multiplying and erasing is done. Already updated the files on the cloned repository. Using `imagemagick`, I did with these commands:

[code]

[2018-06-14 13:29] RewoundVHS commented on #25
Thank you so much for your work. I haven’t worked on tracing as I’ve been busy with classes and working on other parts of the project. I’ll get back to working on this over the weekend.

[2018-06-16 06:31] Henfry opened #28 "This font causes all programs I use it with to fail"
So I really love the look of this font, and have been able to enjoy using it briefly. Unfortunately  whenever I try to use this font for a program it seems to have an issue. The issue is all the character turn into blocks instead of your font. When I use it for rxvt it makes it so I can't open it with i3. When I use it with rofi all the characters are blocks, but it still works. And in the i3 conf

[2018-06-16 13:52] RewoundVHS commented on #28
I’ve had this happen before, it might be related to your configuration. If you could push your dotfiles to your config repo and let me know how you installed the font (i.e following the directions here or through the AUR) I’ll be able to help.

[2018-06-25 20:23] jupart commented on #28
I've noticed some programs are very picky about the specified size of a font. For instance, I had block characters in i3 like you until I changed my font config from `font pango: scientifica 10` to `font pango: scientifica 9`.

[2018-06-25 22:16] RewoundVHS commented on #28
I had that exact issue before! That’s why I asked to see their configs.

[2018-07-12 15:32] outpoints commented on #25
Did you guys get anywhere? @deadcombo @RewoundVHS
Trying to use this as my font in Command Prompt and it's messed up past 12px.
If there's anything I can do let me know :)

[2018-07-18 04:08] IronPiston opened #29 "Integer scaling"
Reading through other issues, the doubler.py script doesn't seem to work, and Curie is still too small on higher DPI displays(such as my ~109 DPI monitor). Would integer scaled versions for 2x, 3x, etc., be possible?

[2018-07-21 18:19] retipuj commented on #22
Hi, I got it to work by manually replacing the metadata for the doubled font. Unfortunately, it's now too big rather than too small ;-;

![comparison](https://user-images.githubusercontent.com/39450669/43038941-94fdd1fa-8ce8-11e8-91ed-6c650424e9dd.png)

That's as good as it can get, I guess.

[2018-07-22 00:19] retipuj commented on #22
I may have worded it wrong, since it's not really replacing the metadata, but something much simpler. After noticing that some lines were missing in the script's output in comparison to the original file (like FONT_NAME, for example), I tried just pasting those lines from the original to the output file and it happened to work. Also changed STARTPROPERTIES 8 to STARTPROPERTIES 34. I don't know if

[2018-07-22 10:02] NerdyPepper commented on #22
Alright, I have finally managed to double all the bdfs, with @csmcg and @retipuj collective guidance.

The `.bdf`s can be found under `doubled/`.

Thanks a ton guys!

[2018-07-22 10:02] #22 closed

[2018-07-22 10:05] NerdyPepper commented on #17
@jandoerntlein @nawtrobar @cmcaine the font has successfully been doubled.

You can find the `.bdf`s under the `doubled/` folder!

[2018-07-22 10:05] #17 closed

[2018-07-22 10:06] NerdyPepper commented on #29
109 is not all that high. I currently use a doubled version of scientifica (just released, find it under the `doubled/` folder), and it is pretty big at 175dpi.

Give it a go and let me know, I can double curie as well if you need it.

[2018-07-22 10:06] #29 closed

[2018-07-22 21:20] retipuj commented on #21
It's possible that your config may be causing this. I also use st, and never had such problem. [This](https://github.com/LukeSmithxyz/st) is the version that I'm using. Maybe you could try it out and see if the issue persists.

[2018-07-28 14:08] jonathandion opened #30 "Small on high dpi"
Hi, `22px`works but it's still small on my screen :/ Can we make a 44px version for high dpi screen?

I guess all I need to do is to change all the 2 for 4 in `doubler.py` and run `py doubler.py` ?

Thanks and really nice font!

-----
**off topic**
Color scheme from the screenshots?

[2018-07-29 14:53] NerdyPepper commented on #30
Could you please share your display specs?  I cannot image using a 4x size on a screen that used to use size 11 fonts.

A 44px version shouldn't be hard to create. Ill create one soon.

Colorscheme:

[code]

This follows the base16 template.

[2018-07-29 19:50] jonathandion commented on #30
3840x2160

[2018-08-03 19:24] jonathandion commented on #30
Let me know what do to I can do it.

[2018-08-04 04:56] NerdyPepper commented on #30
https://0x0.st/sWnf.bdf
https://0x0.st/sWnO.bdf
https://0x0.st/sWnV.bdf

Keep me updated!

[2018-08-04 04:56] #30 closed

[2018-08-08 10:58] naiveai opened #31 "No way to scale?"
I'm not sure if I'm being a complete idiot here and this is how bitmap fonts work, but I can't set the size of the font anywhere - it doesn't scale up, and it's extremely tiny. Readable, but tiny. What could be wrong here? I'm not sure what info precisely to provide since I'm nowhere near sure where this could originate. I'm using the AUR package, but cloning and symlinking produces the same resul

[2018-08-08 11:17] naiveai commented on #31
Yep, ok, that's how bitmap fonts are supposed to work. Sorry, I'm a complete idiot.

[2018-08-08 11:17] #31 closed

[2018-08-09 13:39] #21 closed

[2019-03-02 11:31] re1 opened #33 "Image links broken in README"

[2019-03-02 11:52] NerdyPepper commented on #33
ah it was about time those expired. ill add some new screenshots along with the doubled version.

if you use scientifica, feel free to submit some screenshots :^)

[2019-04-03 22:09] CraftedCart commented on #33
Spacemacs/Emacs
![image](https://user-images.githubusercontent.com/5341220/55515951-deba1980-5663-11e9-8bee-d44fe9d8d19f.png)

lxappearance/GTK
![image](https://user-images.githubusercontent.com/5341220/55516071-250f7880-5664-11e9-8091-3a84733785bb.png)

My terminal - tmux + zsh + oh-my-zsh + bullet train theme + zsh-syntax-highlighting
![image](https://user-images.githubusercontent.com/5341220/55

[2019-06-19 17:44] cata0309 commented on #33
Is there any chance you would want to help me make the terminal I use to look like yours ? I am really interested.

[2019-06-20 08:07] cata0309 commented on #33
@CraftedCart  ??

[2019-06-20 08:25] NerdyPepper commented on #33
it looks like he has shifted to gitlab. you can find his [dotfiles](https://gitlab.com/CraftedCart/dotfiles) there.

[2019-06-21 16:14] cata0309 opened #34 "Why the size of the fonts requires big increases to go from a size to a bigger size ?"

[2019-06-21 16:15] cata0309 commented on #33
Thank you

[2019-06-21 16:30] NerdyPepper commented on #34
The regular size uses a thickness of 1 pixel, the doubled size uses a thickness of 2 pixels. TTF file formats can use 1.5 pixels (by aliasing and a couple other techniques), which is not possible in bitmap fonts.

scientifica cannot be fractionally scaled, our scaling options are 2x, 3x, 4x etc.

[2019-06-21 16:30] #34 closed

[2019-07-09 15:20] fr3fou opened #35 "Screenshots are dead."
You should upload the images to github and use a relative path in your README.md such as
[code]
0x0 seems to have deleted the images, so they no longer show up in the README.md

[2019-07-10 05:54] NerdyPepper commented on #35
will get on this later today.

[2019-07-10 09:20] #13 closed

[2019-07-10 09:21] #10 closed

[2019-07-10 09:21] #14 closed

[2019-07-11 16:27] NerdyPepper commented on #35
https://nerdypepper.me/scientifica/

[2019-08-07 01:20] dieggsy commented on #30
@NerdyPepper where did you end up with this? Is a 44px font available/possible at the moment?

[2019-08-07 08:33] NerdyPepper commented on #30
yes! producing 44px variants is fairly trivial. here you go:

regular `scientifica-44.bdf`:
https://files.nerdypepper.me/RY.bdf

bold `scientificaBold-44.bdf`:
https://files.nerdypepper.me/sB.bdf

italic `scientificaItalic-44.bdf`:
https://files.nerdypepper.me/rs.bdf

[2019-08-09 15:35] dieggsy commented on #30
@NerdyPepper huh - the script doesn't seem to be working for me:

[code]

And the files you provide for some reason aren't detected by `fc-cache -fv` even though the original files in the repo are.

[2019-08-10 09:50] NerdyPepper commented on #25
https://files.nerdypepper.me/x7.png

an attempt to autotrace scientifica using [bdf2ttf](https://github.com/dse/bdf2ttf) and [autotrace](https://github.com/autotrace/autotrace/).

[2019-11-01 08:31] xxzozaxx commented on #25
Hellow @NerdyPepper, thanks for this awesome font.
I tried [BitsNPicas font converter](https://github.com/kreativekorp/bitsnpicas) and it seem to works. just need some final touch.

Could you try it plz.

[2019-11-01 08:45] xxzozaxx commented on #25
![2019-11-01-104425_954x881_scrot](https://user-images.githubusercontent.com/20381921/68013087-af6c9900-fc94-11e9-8c41-46e2421c85db.png)
![2019-11-01-104449_954x881_scrot](https://user-images.githubusercontent.com/20381921/68013088-b0052f80-fc94-11e9-9548-a5dadafca325.png)
Here is the example

[2019-11-02 02:07] NerdyPepper commented on #25
nice one @xxzozaxx! ill take a crack at this, and maybe, we can start shipping out rasterized vector fonts as well!

[2020-03-11 14:25] cyberglot commented on #33
<img width="1792" alt="Screenshot 2020-03-11 at 12 12 55" src="https://user-images.githubusercontent.com/609862/76427120-d3a75780-63a3-11ea-82f0-8540b0aa94a6.png">

[2020-03-26 03:06] alystair commented on #35
Hero image dead in readme

[2020-03-26 03:09] alystair commented on #25
Any update re: Windows friendly fonts? Been a while

[2020-03-28 23:26] anonaii opened #37 "Dunst only showing bold text properly"
Everything that isn't in bold is shown as a unicode box
![slopsh-32](https://user-images.githubusercontent.com/43378896/77835728-966df400-711d-11ea-8914-706cdab67d5f.png)
(Note, the box before "Chats" is expected, it's an emoji)
![slopsh-33](https://user-images.githubusercontent.com/43378896/77836106-4002b480-7121-11ea-8162-b7a94a4d54be.png)

Here's my dunstrc;
https://gist.github.com/anonaii/a011

[2020-03-29 05:21] NerdyPepper commented on #35
fixed @alystair!

[2020-03-29 05:22] NerdyPepper commented on #25
@alystair i did in fact get things to work with Bits 'n' Picas! Ill soon have a release containing `ttf` fonts

[2020-03-29 05:27] NerdyPepper commented on #25
you can find the `ttf` variants under `/ttf`. i haven't tested to check if all characters render fine, but it looks good so far. give it a go and post your feedback in this thread!

 big thanks to @xxzozaxx for making this happen!

[2020-03-29 05:49] NerdyPepper commented on #37
on line 89, the font face name should be `scientifica` with a small `s`. but i'm not sure if that's really an issue.

these rectangular placeholders would usually occur if the character is not a part of the font, but i think this is caused by pango removing support for non opentype bitmap font formats.

some things you could try:
 - use the `otb` font files instead of `bdf` if you aren't already d

[2020-03-29 18:06] anonaii commented on #37
I tried both Scientifica, and scientifica, neither of which changed anything.
Here's my fc-list;
![slopsh-36](https://user-images.githubusercontent.com/43378896/77856625-092eac00-71be-11ea-89b0-7f2b0e71caac.png)
and pango;
![slopsh-37](https://user-images.githubusercontent.com/43378896/77856642-1d72a900-71be-11ea-9c25-2d9a89cda761.png)

[2020-03-29 18:12] anonaii commented on #37
For further information I'm using both the bdf files from the git repo (~/.local/share/fonts) and the AUR package otb-scientifica (/usr/share/fonts/misc/)

[2020-03-30 03:24] NerdyPepper commented on #37
could you remove the `bdf`s from `~/.local/share/fonts`, run `fc-cache -fv` and restart `dunst` and tell me if that works? its possible that `bdf` edition is shadowing the `otb` one.

[2020-03-30 04:47] anonaii commented on #37
Aha! That was exactly it, after removing the bdf's dunst is properly showing non-bold text. Thanks for the help man!

[2020-03-30 04:47] #37 closed

[2020-03-30 05:52] NerdyPepper commented on #37
Cheers :^)

[2020-04-05 17:52] alystair commented on #25
Cheers, tried them out. Seem to render with blurry edges

VSCode:

![image](https://user-images.githubusercontent.com/159109/78505931-9a64cc00-7744-11ea-9825-d8c349097a63.png)

![image](https://user-images.githubusercontent.com/159109/78505935-a2247080-7744-11ea-8976-c49dfc72db9a.png)

Illustrator (notice top edges):
![image](https://user-images.githubusercontent.com/159109/78505955-ae103280-7744-

[2020-04-06 06:16] NerdyPepper commented on #25
@alystair that is to be expected. the font will render "crispily" only at certain sizes, namely, 11px and multiples of 11px (provided your font rendering engine scales without interpolation).

[2020-04-06 16:07] alystair commented on #25
Thanks. Wish fonts that are crisp only at specific intervals had a way of communicating it.. Only option would be as part of the font name right? E.g. Scientifica11

[2020-04-07 11:58] NerdyPepper commented on #25
Not really. Font rasterization is kind of an "inside" feature that the user shouldn't really be bothered about. Also, fonts may be rasterized at more than one size, Pragmata Pro, for example, provides crisp versions for all sizes from 9px through 14px.

Perhaps it would be best to simply mention it in the readme?

Since the issue at hand as been addressed, I will be closing this issue (the `ttf` v

[2020-04-07 11:58] #25 closed

[2020-04-07 16:39] alystair commented on #25
Readme sounds good thanks!

[2020-04-07 20:56] vaskark opened #38 "Defaults in /etc/fonts/conf.d/10-*"
I'd like to know what files I would need to restore in `/etc/fonts/conf.d/` if I decide to reverse the instructions provided for this font.
Thanks. I'm on Ubuntu 19.10.

[2020-04-10 04:37] NerdyPepper commented on #38
Good point, if you haven't already deleted those files, I would suggest moving them to the `conf.avail` directory:

[code]

If you have already deleted them, these might come in handy:

 - [10-hinting-slight.conf](https://u.peppe.rs/B0.conf)
 - [10-scale-bitmap-fonts.conf](https://u.peppe.rs/lN.conf)
 - [10-sub-pixel-rgb.conf](https://u.peppe.rs/7d.conf)
 - [70-no-bitmap-fonts.conf](https://u.pepp

[2020-04-10 06:08] vaskark commented on #38
Thanks for responding.
My further searches resulted in the exact same advice. Good to know how to undo things ;)

It's a brilliant-looking font. I'm really enjoying it. Especially the ttf version.
I did notice something, though.

Two of your powerline extras symbols seem to be out of place:

`E0B5` should be `E0D2`
`E0B4` should be `E0D4`

Once again, many thanks.

[2020-04-13 16:35] NerdyPepper commented on #38
E0B4 should be E0D4

thanks for pointing those out! they have been fixed in the 2.0 release, along with a bunch of other powerline glyph additions!

[2020-04-13 16:35] #38 closed

[2020-04-13 16:37] NerdyPepper commented on #28
Closing this issue due to inactivity.

[2020-04-13 16:37] #28 closed

[2020-04-13 16:37] #35 closed

[2020-04-14 08:23] JesMJM commented on #33
Looks nice, it lets me fit more in less space while still being readable

![image](https://user-images.githubusercontent.com/30764221/79202099-162adc80-7e07-11ea-8fdd-e1827193c079.png)

[2020-04-14 11:36] cata0309 commented on #33
@CraftedCart is that the default theme on Spacemacs/Emacs?

[2020-04-14 16:21] NiLuJe commented on #33
For something a wee bit more out there, I bundled scientifica in a [library](https://github.com/NiLuJe/FBInk) I wrote to handle printing stuff to consumer eInk devices, and we're using it to display OTA update progress in [KOReader](https://github.com/koreader/koreader):

[![KOReader + FBInk + scientifica](https://user-images.githubusercontent.com/202757/74514732-7d163d00-4f0d-11ea-9d53-15d01ce423

[2020-04-14 22:45] CraftedCart commented on #33
@cata0309
Yeah, the default Spacemacs dark theme, with rainbow-mode to color each symbol differently.

[2020-04-14 23:11] cata0309 commented on #33
Does anybody know how to enable bitmap fonts on Linux systems without breaking any settings regarding the non bitmap fonts like antialiasing, scalling, hinting?
I tried some tutorials on how to do that but they aren't usable in editors like VSCode

[2020-04-15 03:58] NerdyPepper commented on #33
@NiLuJe that is so cool! I'm glad you find it useful.

[2020-04-15 14:37] haunt98 opened #39 "fc-list recognize wrong scientificaItalic.ttf"
scientificaItalic.ttf should show `scientifica:style=Italic` when `fc-list | grep scientifica`

![image](https://user-images.githubusercontent.com/5424272/79349870-f7405d80-7f60-11ea-810b-d3bb09cb1540.png)

[2020-04-15 15:25] NerdyPepper commented on #39
That is very strange, because we faced the exact same issue once earlier. In any case, I have fixed this with the latest commit, I will make a release by the end of this week.

Thanks for bringing this to my notice!

[2020-04-15 15:25] #39 closed

[2020-04-16 08:15] hplar commented on #33
I had an issue where I couldn't use Scientifica in PyCharm, turns out I needed to install the .ttf version to get PyCharm to recognize the font. Maybe you are running into the same issue with VSCode?

[2020-04-16 23:42] execb5 commented on #33
Damn, this font is just what I needed.

![2020-04-16-203845_1920x1080_scrot](https://user-images.githubusercontent.com/6979113/79516639-53b78180-8022-11ea-89f3-463c4329c860.png)

I still need to see how to setup everything correctly in urxvt

![out](https://user-images.githubusercontent.com/6979113/79516375-97f65200-8021-11ea-9af8-9f7dd3b7f459.gif)

[2020-04-25 17:59] masaeedu opened #40 "Glyphs slightly off center"
Hello. I recently installed the ttf version of scientifica and started using it in Konsole, but am noticing that some glyphs (the plus, times, boxtimes and arrow symbol from my experience) are slightly but noticeably off center when surrounded by parentheses.

![image](https://user-images.githubusercontent.com/3674056/80286983-bf71ac80-86fc-11ea-8b16-89480c1ddae0.png)

Do you think this is an arti

[2020-04-25 18:20] masaeedu opened #41 "Powerline delimiter alignment"
Hello again. Not sure whether this is something that can be resolved for all sizes (I'm not super familiar with how fonts work), but I noticed that the powerline triangular delimiter thing doesn't quite fill its row at all sizes of the ttf font. In my Konsole setup, the glyph lines up perfectly at font size 8, but is slightly misaligned at larger sizes until it lined up again at 25 point size.

[2020-04-25 18:53] masaeedu commented on #41
Here is a screen recording, hopefully that illustrates what I'm talking about:

https://masaeedu.s3.amazonaws.com/screencaps/github/scientifica/41/powerlinescaling.mp4

(sorry about the tiny size, please zoom in in the browser)

[2020-05-06 11:23] vaskark commented on #39
I have experienced the same with the italic version of scientifica. I'm on Ubuntu 19.10.

[2020-05-06 16:56] NerdyPepper commented on #41
Unfortunately, there is nothing I can do about that, it lines up only at those sizes and multiples of those sizes.

[2020-05-06 16:56] #41 closed

[2020-05-29 18:10] jhunyar opened #42 "Pipe operator ligature request"
I code in Elixir and use the pipe |> operator pretty frequently. I would love to see a ligature for |>  as this font is otherwise perfect. Fira Code is a good reference, of course in bitmap it would be a bit trickier. Anything that matches the > to the height of the | would be welcome as well, but a complete triangle would be great. Thanks for this great font.

[2020-05-29 18:39] jhunyar commented on #42
I am an entirely confused individual - scientifica does indeed have ligatures. Reopened >.<

[2020-05-30 06:09] NerdyPepper commented on #42
Sure, I could work on this. Ligatures in scientifica are a little different from fonts such as fira code in that these ligatures work only in vim via its conceal feature.

[2020-07-11 08:32] Kapuche opened #44 "Making the font bigger ?"
Hi everybody,

the font looks great, but it's so tiny, I must be at 3cm to be able to see it on my terminal, can someone help me ? I tried in the tweak application to make it bigger, but no differences.

[2020-07-11 10:37] NerdyPepper commented on #44
Since, [v2.0](https://github.com/NerdyPepper/scientifica/releases), scientifica ships with scalable TTF variants, which are rasterized at 11px and its multiples. If that doesn't suit your use case, you might want to try [curie](https://github.com/NerdyPepper/curie), scientifica's upscaled sister font.

Bitmap fonts aren't the [same size](https://peppe.rs/posts/font_size_fallacies/) on all displays

[2020-07-11 10:37] #44 closed

[2020-07-24 09:25] vaskark opened #45 "Italic ttf variant mislabelled as Medium"
The italic ttf variant is mislabelled as Medium. Just notifying :)

Amazing font, btw. Keep up the great work.

[2020-07-24 16:32] NerdyPepper commented on #45
No idea what causes this issue till date. The SFDs have to be edited manually each time to fix this, opening them in FF and saving them resets them the `medium`.

[2020-08-24 21:45] Kozova1 commented on #45
Is there any workaround for this?

[2020-08-25 04:27] NerdyPepper commented on #45
@Kozova1 adding a step to change the font variant in the build script maybe?

[2020-09-08 06:15] Alucherdi commented on #6
Sorry about asking this but I have to know what Color Scheme are you using, please :(

[2020-09-09 05:20] NerdyPepper commented on #6
@Alucherdi I created that color scheme myself, I am afraid those files are long gone :(

[2020-09-19 19:04] candreslobor opened #46 "Scientifica TTF not rendering correctly [Arch Linux]"
Greetings, I've installed the ttf version of scientifica. Since that the font is not rendering to well

[Screenshot](https://imgur.com/a/inyS6Lo)

As you can see the font doesn't look sharp, is more like blur

[2020-09-20 03:45] NerdyPepper commented on #46
the ttf version will not be sharp unless you use a size which has a rasterized version, namely, 11 and multiples of 11. this size also, however, depends on your display dpi, so just mess around with sizes 7 to 11 and one of those should be sharp. if not, uninstall the ttf version, install the otb version, the otb comes with only one size, which is the sharp size.

[2020-09-20 03:45] #46 closed

[2020-11-19 19:34] masaeedu commented on #45
@NerdyPepper Any chance you could make another release with the fixed label? The latest release appears to have this problem. Thanks!

[2020-11-29 15:28] dscorbett opened #47 "Excessive right side bearings"
Many glyphs have excessive right side bearings. For example, here is “(Ă)”.
![(Ă)](https://user-images.githubusercontent.com/1124347/100545969-aa2da500-322c-11eb-8daa-e43ebbac7a8a.png)

[2020-12-02 01:42] execb5 commented on #45
Yeah, another release with the fixed label would be greatly appreciated. 👍
Love this font!

[2020-12-21 02:20] dscorbett opened #48 "Wrong glyph for U+019D LATIN CAPITAL LETTER N WITH LEFT HOOK"
The glyph for U+019D LATIN CAPITAL LETTER N WITH LEFT HOOK is wrong: the hook is on the right side but should be on the left side.
![Ɲ](https://user-images.githubusercontent.com/1124347/102732466-cfcc3c80-4308-11eb-9efd-f7e4c00f2d1c.png)

[2021-02-18 03:41] gwr-dasburo opened #49 "Font doesn't work in kitty terminal"
as the title says
i did all instructions in the install readme even tough it's a little out dated
i did `fc-list | grep scientifica`, it's all there
kitty works with other fonts
i got told that kitty expects to have spacing either 100 or 90 but scientifica has 110(?)
is there a workaround to make it work in kitty?

[2021-02-18 04:26] NerdyPepper commented on #49
Kitty does not support bitmap fonts, see: https://github.com/kovidgoyal/kitty/issues/97, there is a workaround posted in the same thread, you can give that a go.

However, I would recommend installing the [TTF variants](https://github.com/NerdyPepper/scientifica/releases) (from the releases tab) and scaling it to 11 pt, the TTF font includes bitmap strikes at that size, so it should look identical

[2021-02-18 04:26] #49 closed

[2021-02-18 04:29] NerdyPepper commented on #47
Can you answer the following:

 - which variant of scientifica is being used here? (TTF, OTB or BDF)
 - which application are you using to render this screenshot?
 - which operating system are you using and how did you install the font?

[2021-02-18 15:45] dscorbett commented on #47
This is the TTF. I used hb-view on macOS. I did not install the font.

[2021-03-07 02:37] xukai92 commented on #45
I'd like to resolve it manually to use it. Can you give a bit more info on this? For example what are SFDs and how do we edit them? Thanks!

[2021-03-07 05:55] NerdyPepper commented on #48
Apologies for the late reply, this should be fixed with the latest release. This character was a little tricky to draw within 4 pixels, which is probably why I drew it on the right side initially, the fixed version has the hook on the left side with 1 pixel overflowing across the left margin. I'll leave this issue open for now, in case the new variant causes any issues.

[2021-03-07 05:56] NerdyPepper commented on #47
Thanks for the info, I was able to reproduce this, should be fixed with the latest release (v2.2).

[2021-03-07 05:56] #47 closed

[2021-03-07 06:00] NerdyPepper commented on #45
@masaeedu @execb5 thank you for the kind words, the latest release should have the fix (apologies for the tardy reply).

@xukai92 SFD files are plain text file formats that are recognized by Font Forge, my initial idea was to modify the SFD using a text editor (find and replace all instances of 'Medium' with 'Italic'), but it seems Font Forge overwrites this attribute on save. The latest release,

[2021-03-07 06:01] NerdyPepper commented on #45
@xukai92 to answer your question:

 - edit the SFD with a text editor (there should be exactly two instances of 'Medium' with a capital M, replace those with Italic)
 - open the new SFD in Font Forge
 - export to OTB

[2021-03-07 13:31] xukai92 commented on #45
Thanks for the advice and the fix on the recent release. I confirm that this italic variant of ttf is not correctly labelled.

[2021-03-07 16:33] dscorbett commented on #47
This issue still exists. There are still 592 glyphs that are too wide.

[2021-03-08 01:34] dscorbett opened #50 "Wrong glyph for U+01AA LATIN LETTER REVERSED ESH LOOP"
The loop of U+01AA LATIN LETTER REVERSED ESH LOOP is incomplete.
![ƪ](https://user-images.githubusercontent.com/1124347/110263215-fe5ec880-7f83-11eb-8b09-a8e6e62abdf7.png)

[2021-03-09 00:42] dscorbett opened #51 "Inconsistent glyph for U+00DD LATIN CAPITAL LETTER Y WITH ACUTE"
The glyph for U+00DD LATIN CAPITAL LETTER Y WITH ACUTE lacks a pixel at the bottom right which U+0059 LATIN CAPITAL LETTER Y and other glyphs based on it have.
![ÝY](https://user-images.githubusercontent.com/1124347/110400779-40504300-8046-11eb-88c5-0ea0b6b27f72.png)

[2021-04-17 17:19] 2hands10fingers opened #52 "Is this possible on Windows?"
Can this font work well on Windows or would you need to make a port for it?

[2021-04-18 09:00] NerdyPepper commented on #52
This font should work as expected on most windows applications, you can head over to the releases page, download and extract the `tar` file, and install the `TTF` variants. I used to release `.fon` file formats as well, but it became a little tedious to maintain.

Just play around with the font size on your application till it renders out the rasterized variant (should be between 7px and 11px). Ev

[2021-04-18 09:00] #52 closed

[2021-08-15 18:29] kovasap commented on #49
I'm having this issue too.  What do you mean by "scaling it to 11 pt"?  How could I do that?

[2021-08-16 03:19] NerdyPepper commented on #49
@kovasap install the TTF version and adjust the font size to 11pt.

[2021-08-16 03:24] kovasap commented on #49
Right, how do I do that?  In kitty?  Or change the ttf file itself?

[2021-08-16 04:35] NerdyPepper commented on #49
@kovasap yeah, changing the font size in kitty. You might have to play with the font size a bit till it displays the "rasterized" version (i. e., some sizes will look blurry, at a specific size, it will look sharp).

[2021-08-16 04:52] kovasap commented on #49
My kitty config looks like:

[code]

but my font is not changing properly.  @gwr-dasburo what does your config look like?

[2021-09-01 18:41] kovasap commented on #49
Any ideas here for how to make this config work?

[2021-09-09 07:48] talismanick opened #54 "Can't extract archive"
I downloaded the [v2.2 tarball](https://github.com/NerdyPepper/scientifica/archive/refs/tags/v2.2.tar.gz), to try manually building it before using it in an [xbps-src](https://github.com/void-linux/void-packages/) template. (it's akin to a PKGBUILD for pacman)

No matter what flags I pass to `tar`, it returns some variant of "tar: This does not look like a tar archive".

scientifica.tar works fine

[2021-10-01 10:53] yigitsever opened #55 "Wrong spacing for two Turkish characters"
First off, thank you for supporting Turkish character set :)

Turkish characters Ş (U+015E, Latin capital letter S with cedilla) and ğ (U+011F Latin small letter g with breve) display an unnecessary space after them, the rest of the Turkish character set are fine;

![image](https://user-images.githubusercontent.com/9094218/135608153-365e0c79-1f30-4d43-8ec9-fe8d427f5e4f.png)

Here's how it should l

[2021-10-01 15:23] NerdyPepper commented on #54
Hmm strange, does `tar xzf scientifica.tar.gz` not work?

As a side note,[ I attempted to package](https://github.com/void-linux/void-packages/pull/15383) scientifica and curie for void linux a couple years ago, and it got promptly rejected because it did not meet the "standards" required by a package.

[2021-10-01 15:24] NerdyPepper commented on #55
Thanks for the report! I'll take a look this weekend.

[2021-10-01 15:31] NerdyPepper commented on #51
Good catch, should be fixed in the next release!

[2021-10-01 15:57] dscorbett commented on #55
This is part of issue #47.

[2021-10-01 16:09] dscorbett opened #56 "Wrong glyphs for single angle quotation marks"
The glyphs of U+2039 SINGLE LEFT-POINTING ANGLE QUOTATION MARK and U+203A SINGLE RIGHT-POINTING ANGLE QUOTATION MARK are wrong.
![‹›](https://user-images.githubusercontent.com/1124347/135651494-94b583da-9845-4524-a7d7-cd37bec54872.png)

[2021-10-01 16:17] NerdyPepper commented on #55
I am looking to fix this on a case by case basis. Most of the glyphs that have incorrect width metrics are a result of converting from creep's bounding box to a fixed bounding box.

[2021-10-01 16:22] #55 closed

[2021-10-01 16:27] oppiliappan commented on #55
This specific issue has been fixed in the latest release.

[2021-10-01 21:24] #51 closed

[2021-10-02 07:48] talismanick commented on #54
It unfortunately does not, for neither the 2.2 nor 2.3 tarball.

This was for personal use. (to keep a clean build environment and to auto-remove all files in case I decided to uninstall)

On another note, how are you building the tarballs?

[2021-10-02 12:37] oppiliappan commented on #54
I am using `tar cf scientifica.tar scientifica/`, and I am running `tar v1.34`:

[code]

Are you looking to build ttfs/otbs from source? Or just download them directly from the releases? In the first case, could you maybe download and unpack the [tagged tarball](https://github.com/NerdyPepper/scientifica/archive/refs/tags/v2.3.tar.gz)?

Currently releases are zipped manually by me, I run `nix buil

[2021-12-22 10:35] trunc88 commented on #54
I had a similar issue trying to extract `scientifica.tar` from release 2.3 using busybox `tar`.  It gives me a permissions error:
[code]
`bsdtar x` from `libarchive` successfully extracted it, and a `ls -l` reveals that there is no write permission on the internal directories or files of `scientifica.tar`:
[code]
I don't have GNU `tar` installed, so can't test that. Unsure if this is related or no

[2021-12-30 15:08] sofianedjerbi opened #57 "Uncomplete block characters"
An issue I've encountered with scientifica is the impossibility to display properly "utf pixel arts" with block characters due to scientifica's uncomplete half-block character `U+2584` (and the absence of the upper-half block `U+2580` character).

**Scientifica :**
![Scientifica](https://i.ibb.co/ZhNxPww/30-12-2021-16-00-53-193x190.png)
**Any other font:**
![Any other font](https://i.ibb.co/TYkhB4

[2022-08-11 20:31] andrew-gresyk opened #59 "Inconsistent width of box drawing glyphs"
Excellent font.

I noticed some box drawing glyphs (e.g. '├') have inconsistent width.
Box drawing isn't seen often, but is super useful for https://gresyk.dev/features/2018/01/15/hfsm-magic.html

[2022-08-23 03:09] fxkrait commented on #33
@cyberglot Is that Emacs theme you're using perhaps this: [emacs-purple-haze-theme](https://github.com/emacsfodder/emacs-purple-haze-theme)? That's the closest I could find, and I didn't see any dotfiles where you reference said theme.

[2022-08-31 14:55] cyberglot commented on #33
@greghab It is purple haze, but these days I use [rebecca](https://github.com/vic/rebecca-theme).

[2022-09-10 10:05] C-Ezra-M opened #60 "Many chars beyond U+00FF have wrong widths"
Many lines in the [lines 1598~8720](/nerdypepper/scientifica/blob/master/src/scientifica.sfd#L1598-L8720) of the FontForge glyph database have widths of 1000 rather than the intended 454.

Since my system's language is Polish, this leads to weird spaces after the Polish-exclusive letters (except `ó`, which exists in Latin-1 Supplement).

The correct text displayed using a normal font should be `Za

[2022-11-28 22:09] BlueFalconHD opened #61 "feat: add patched nerd font"